/*
!/.gitignore
!/.env.example
!/README.md
!/schema_complete.sql
!/package.json
!/package-lock.json
!/tsconfig.json
!/next-env.d.ts
!/next.config.ts
!/middleware.ts
!/vercel.json
!/app/
!/app/**
!/components/
!/components/**
!/lib/
!/lib/**

.env
.env.local
.next/
node_modules/
.vercel/
*.log
